<a id="drop0" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Server Files <b class="caret"></b></a>
<ul class="dropdown-menu" role="menu" aria-labelledby="drop0">
  <li><a tabindex="-1" href="#" id="import_server_file"><i class="icon-file"></i>&nbsp;Load file</a></li>
  <li><a tabindex="-1" href="#" id="save_server_file"><i class="icon-file"></i>&nbsp;Save file</a></li>
  <li><a tabindex="-1" href="#" id="new_server_file"><i class="icon-file"></i>&nbsp;New file</a></li>
  <li><a tabindex="-1" href="#" id="import_media_files"><i class="icon-file"></i>&nbsp;Import Media</a></li>
  <% if (isServerFilesConfigured.custom_actions){ var properties = Object.getOwnPropertyNames(isServerFilesConfigured.custom_actions); for (prop in properties) { var custom_action = properties[prop]; %>
  <li><a tabindex="-1" href="#" class="server_files-run_custom_action" data-action="<%= custom_action %>"><i class="icon-file"></i>&nbsp;<%= custom_action %></a></li>
  <% }} %>
</ul>
<script type="application/javascript">
  var docs_base_url = '<%= isServerFilesConfigured.docs_base_url %>/';
</script>
